<div class="head-sub-button">
    <div class="head">SAVE THE DATE</div>
</div>
    <div class="counter">
        <div class="count">
            <div class="sub-head">Conference Day</div>
            <div class="head">2/12/2025</div>
        </div>
        <div class="count">
            <div class="sub-head">Location</div>
            <div class="head">Mechelen, Belgium</div>
        </div>
        <div class="count">
            <div class="sub-head">Training Day</div>
            <div class="head">3/12/2025</div>
        </div>
    </div>
<div class="head-sub-button">
    <div class="sub-heading">This year, the OWASP BeNeLux days will take place on Tuesday the 2nd and Wednesday the 3rd
        of December 2025 in Belgium.</div>
    <div class="head-sub-links">
        <a href="#/program" data-discover="true">
            <button class="btn bg-lg">More information will follow</button>
        </a>
    </div>
</div>