{% assign goldSponsors = site.data.sponsors | where:"level","Gold" | sort: 'name' %}
{% assign silverSponsors = site.data.sponsors | where:"level","Silver" | sort: 'name' %}
{% assign bronzeSponsors = site.data.sponsors | where:"level","Bronze" | sort: 'name' %}
{% assign socialEventSponsors = site.data.sponsors | where:"level","Social event" | sort: 'name' %}
{% if goldSponsors.size > 0 or silverSponsors.size > 0 or bronzeSponsors.size > 0 or socialEventSponsors.size > 0 %}
    <div class="sponsors">
        <div class="head">OUR SPONSORS</div>
    
    {% if goldSponsors.size > 0 %}
        <div class="sponsors subhead">Gold sponsors</div>
        <div class="images">
            {% for sponsor in goldSponsors %}
                <a href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.image %}
                        <div class="img" style="background-image: url(&quot;{{ site.baseurl }}/assets/images/sponsors/{{sponsor.image}}&quot;);"></div>
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if silverSponsors.size > 0 %}
        <div class="sponsors subhead">Silver sponsors</div>
        <div class="images">
            {% for sponsor in silverSponsors %}
                <a href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.image %}
                        <div class="img" style="background-image: url(&quot;{{ site.baseurl }}/assets/images/sponsors/{{sponsor.image}}&quot;);"></div>
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if bronzeSponsors.size > 0 %}
        <div class="sponsors subhead">Bronze sponsors</div>
        <div class="images">
            {% for sponsor in bronzeSponsors %}
                <a href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.image %}
                        <div class="img" style="background-image: url(&quot;{{ site.baseurl }}/assets/images/sponsors/{{sponsor.image}}&quot;);"></div>
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if socialEventSponsors.size > 0 %}
        <div class="sponsors subhead">Social Event sponsor</div>
        <div class="images">
            {% for sponsor in socialEventSponsors %}
                <a href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.image %}
                        <div class="img" style="background-image: url(&quot;{{ site.baseurl }}/assets/images/sponsors/{{sponsor.image}}&quot;);"></div>
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endif %}