{% include header.html %}
<body>
    <div class="home">
        {% include nav.html %}
        <div class="hero-mini" style="background-image: url(&quot;/img1.jpg&quot;);">
            <div class="left">
                <div class="black-layer"></div>
                <div class="heading">{{ page.title }}</div>
            </div>
        </div>
        <div class="icon-title-content">
            <div class="content">{{ content }}</div>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>
